## Netflix Viewing Habits

In [21]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from pandas_profiling import ProfileReport

In [22]:
# Read CSV file
df = pd.read_csv("data\AshleyViewingActivity.csv")

In [23]:
# Inspect the data by viewing the first five rows
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Ashley,2022-10-03 03:07:28,00:33:42,NaN,The Munsters,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:33:43,00:33:43,US (United States)
1,Ashley,2022-10-03 02:57:22,00:09:19,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:10:20,01:10:20,US (United States)
2,Ashley,2022-09-18 02:42:20,00:16:13,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:01:01,Not latest view,US (United States)
3,Ashley,2022-09-12 02:04:54,00:41:43,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:44:37,Not latest view,US (United States)
4,Ashley,2022-09-11 03:37:02,00:02:44,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:02:53,Not latest view,US (United States)

In [30]:
df = df[df["Profile Name"] == "Ashley"]

print(df.head())

  Profile Name           Start Time  Duration Attributes  \
0       Ashley  2022-10-03 03:07:28  00:33:42        NaN
1       Ashley  2022-10-03 02:57:22  00:09:19        NaN
2       Ashley  2022-09-18 02:42:20  00:16:13        NaN
3       Ashley  2022-09-12 02:04:54  00:41:43        NaN
4       Ashley  2022-09-11 03:37:02  00:02:44        NaN

                                               Title Supplemental Video Type  \
0                                       The Munsters                     NaN
1  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
2  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
3  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
4  Stranger Things: Stranger Things 4: Chapter Si...                     NaN

                 Device Type  Bookmark  Latest Bookmark             Country
0  iPad Pro 9.7-Inch (Wi-Fi)  00:33:43         00:33:43  US (United States)
1  iPad Pro 9.7-Inch (Wi-Fi)  01:10:20         01:10:20  US (United States)
2  iPad Pro 9.7-Inch (Wi-Fi)  01:01:01  Not latest view  US (United States)
3  iPad Pro 9.7-Inch (Wi-Fi)  00:44:37  Not latest view  US (United States)
4  iPad Pro 9.7-Inch (Wi-Fi)  00:02:53  Not latest view  US (United States)

In [25]:
# Drop columns that aren't needed
ashley_netflix = df.drop(columns=["Attributes", "Supplemental Video Type", "Bookmark", "Latest Bookmark", "Country"], axis=1)

# View updated df
ashley_netflix.head()

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)

In [26]:
ashley_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6719 entries, 0 to 6718
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Profile Name  6719 non-null   object
 1   Start Time    6719 non-null   object
 2   Duration      6719 non-null   object
 3   Title         6719 non-null   object
 4   Device Type   6545 non-null   object
dtypes: object(5)
memory usage: 315.0+ KB

In [27]:
ashley_netflix.describe()

,Profile Name,Start Time,Duration,Title,Device Type
count,6719,6719,6719,6719,6545
unique,1,6707,2861,4268,20
top,Ashley,2011-09-04 02:28:11,00:00:01,Them Idiots! Whirled Tour,Mobile
freq,6719,2,61,49,1474