## Netflix Viewing Habits

In [158]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from pandas_profiling import ProfileReport

In [159]:
# Read CSV file
df = pd.read_csv("data\AshleyViewingActivity.csv")

In [160]:
# Inspect the data by viewing the first five rows
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Ashley,2022-10-03 03:07:28,00:33:42,NaN,The Munsters,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:33:43,00:33:43,US (United States)
1,Ashley,2022-10-03 02:57:22,00:09:19,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:10:20,01:10:20,US (United States)
2,Ashley,2022-09-18 02:42:20,00:16:13,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:01:01,Not latest view,US (United States)
3,Ashley,2022-09-12 02:04:54,00:41:43,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:44:37,Not latest view,US (United States)
4,Ashley,2022-09-11 03:37:02,00:02:44,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:02:53,Not latest view,US (United States)

In [161]:
df = df[df["Profile Name"] == "Ashley"]

print(df.head())

  Profile Name           Start Time  Duration Attributes  \
0       Ashley  2022-10-03 03:07:28  00:33:42        NaN
1       Ashley  2022-10-03 02:57:22  00:09:19        NaN
2       Ashley  2022-09-18 02:42:20  00:16:13        NaN
3       Ashley  2022-09-12 02:04:54  00:41:43        NaN
4       Ashley  2022-09-11 03:37:02  00:02:44        NaN

                                               Title Supplemental Video Type  \
0                                       The Munsters                     NaN
1  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
2  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
3  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
4  Stranger Things: Stranger Things 4: Chapter Si...                     NaN

                 Device Type  Bookmark  Latest Bookmark             Country
0  iPad Pro 9.7-Inch (Wi-Fi)  00:33:43         00:33:43  US (United States)
1  iPad Pro 9.7-Inch (Wi-Fi)  01:10:20         01:10:20  US (United States)
2  iPad Pro 9.7-Inch (Wi-Fi)  01:01:01  Not latest view  US (United States)
3  iPad Pro 9.7-Inch (Wi-Fi)  00:44:37  Not latest view  US (United States)
4  iPad Pro 9.7-Inch (Wi-Fi)  00:02:53  Not latest view  US (United States)

In [162]:
# Drop columns that aren't needed
ashley_netflix = df.drop(columns=["Attributes", "Supplemental Video Type", "Bookmark", "Latest Bookmark", "Country"], axis=1)

# View updated df
ashley_netflix.head()

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)

In [163]:
ashley_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6719 entries, 0 to 6718
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Profile Name  6719 non-null   object
 1   Start Time    6719 non-null   object
 2   Duration      6719 non-null   object
 3   Title         6719 non-null   object
 4   Device Type   6545 non-null   object
dtypes: object(5)
memory usage: 315.0+ KB

In [164]:
ashley_netflix.describe()

,Profile Name,Start Time,Duration,Title,Device Type
count,6719,6719,6719,6719,6545
unique,1,6707,2861,4268,20
top,Ashley,2011-09-04 02:28:11,00:00:01,Them Idiots! Whirled Tour,Mobile
freq,6719,2,61,49,1474

In [174]:
ashley_netflix.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Title', 'Device Type'], dtype='object')

In [165]:
# Things I've tried
ashley_top_titles = ashley_netflix.drop(ashley_netflix.Title==["Them Idiots! Whirled Tour"], axis=0)

ValueError: ('Lengths must match to compare', (6719,), (1,))

In [171]:
# Things I've tried

ashley_index = ashley_netflix.set_index("Title")

ashley_index = ashley_index.drop("Them Idiots! Whirled Tour")

print(ashley_index.head())

                                                   Profile Name  \
Title
The Munsters                                             Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley

                                                             Start Time  \
Title
The Munsters                                        2022-10-03 03:07:28
Stranger Things: Stranger Things 4: Chapter Six...  2022-10-03 02:57:22
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-18 02:42:20
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-12 02:04:54
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-11 03:37:02

                                                    Duration  \
Title
The Munsters                                        00:33:42
Stranger Things: Stranger Things 4: Chapter Six...  00:09:19
Stranger Things: Stranger Things 4: Chapter Six...  00:16:13
Stranger Things: Stranger Things 4: Chapter Six...  00:41:43
Stranger Things: Stranger Things 4: Chapter Six...  00:02:44

                                                                  Device Type
Title
The Munsters                                        iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Things I've tried
ashley_new_index = ashley_netflix.drop(ashley_netflix.Title, )

In [176]:
ashley_top_titles = ashley_netflix.Title.value_counts()

print(ashley_top_titles)

Them Idiots! Whirled Tour                           49
NullCompleteVideo                                   43
Larry the Cable Guy: Tailgate Party                 33
Sherlock: Series 1: A Study in Pink (Episode 1)     28
Sherlock: Series 1: The Blind Banker (Episode 2)    19
                                                    ..
Master of None: Season 1: Hot Ticket (Episode 3)     1
Master of None: Season 1: Parents (Episode 2)        1
Broadchurch: Season 2: Episode 6                     1
Broadchurch: Season 2: Episode 5                     1
One Night with the King                              1
Name: Title, Length: 4268, dtype: int64

In [190]:
show_to_remove = ashley_netflix.Title.value_counts().index.tolist()[0]

print(show_to_remove)

Them Idiots! Whirled Tour

In [191]:
them_idiots = ashley_netflix[ashley_netflix.Title == show_to_remove[0]]

print(them_idiots)

Empty DataFrame
Columns: [Profile Name, Start Time, Duration, Title, Device Type]
Index: []

In [192]:
type(show_to_remove)

str

In [194]:
ashley_top_titles.iloc[:1]

Them Idiots! Whirled Tour    49
Name: Title, dtype: int64

In [211]:
ashley_netflix.iloc[[0:5],[0:5]]

SyntaxError: invalid syntax (1721458047.py, line 1)

In [209]:
ashley_netflix.iloc[:5]

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)