## Netflix Viewing Habits

In [85]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from pandas_profiling import ProfileReport

In [86]:
# Read CSV file
df = pd.read_csv("data\AshleyViewingActivity.csv")
credits = pd.read_csv("data/netflix_credits.csv")
titles = pd.read_csv("data/netflix_titles.csv")

In [87]:
titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [88]:
# Drop columns that aren't needed
titles = titles.drop(columns=["description", "production_countries", "seasons", "imdb_id", "imdb_votes", "tmdb_popularity", "tmdb_score"], axis=1)

# View updated df
titles.head()

,id,title,type,release_year,age_certification,runtime,genres,imdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,51,['documentation'],NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,114,"['drama', 'crime']",8.2
2,tm154986,Deliverance,MOVIE,1972,R,109,"['drama', 'action', 'thriller', 'european']",7.7
3,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['fantasy', 'action', 'comedy']",8.2
4,tm120801,The Dirty Dozen,MOVIE,1967,NaN,150,"['war', 'action']",7.7

In [89]:
# Fix the column names in the dataframe
fixed_columns = {
    "id":"Id",
    "title":"Title",
    "type":"Type",
    "release_year":"Release Year",
    "age_certification":"Age Certification",
    "runtime":"Runtime",
    "genres":"Genres",
    "imdb_score":"Imdb Score" 
}

# Check column names are displaying correctly
titles.rename(columns=fixed_columns, inplace=True)
titles.head()

,Id,Title,Type,Release Year,Age Certification,Runtime,Genres,Imdb Score
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,51,['documentation'],NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,114,"['drama', 'crime']",8.2
2,tm154986,Deliverance,MOVIE,1972,R,109,"['drama', 'action', 'thriller', 'european']",7.7
3,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['fantasy', 'action', 'comedy']",8.2
4,tm120801,The Dirty Dozen,MOVIE,1967,NaN,150,"['war', 'action']",7.7

In [90]:
# Inspect the data by viewing the first five rows
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Ashley,2022-10-03 03:07:28,00:33:42,NaN,The Munsters,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:33:43,00:33:43,US (United States)
1,Ashley,2022-10-03 02:57:22,00:09:19,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:10:20,01:10:20,US (United States)
2,Ashley,2022-09-18 02:42:20,00:16:13,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:01:01,Not latest view,US (United States)
3,Ashley,2022-09-12 02:04:54,00:41:43,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:44:37,Not latest view,US (United States)
4,Ashley,2022-09-11 03:37:02,00:02:44,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:02:53,Not latest view,US (United States)

In [91]:
df = df[df["Profile Name"] == "Ashley"]

print(df.head())

  Profile Name           Start Time  Duration Attributes  \
0       Ashley  2022-10-03 03:07:28  00:33:42        NaN
1       Ashley  2022-10-03 02:57:22  00:09:19        NaN
2       Ashley  2022-09-18 02:42:20  00:16:13        NaN
3       Ashley  2022-09-12 02:04:54  00:41:43        NaN
4       Ashley  2022-09-11 03:37:02  00:02:44        NaN

                                               Title Supplemental Video Type  \
0                                       The Munsters                     NaN
1  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
2  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
3  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
4  Stranger Things: Stranger Things 4: Chapter Si...                     NaN

                 Device Type  Bookmark  Latest Bookmark             Country
0  iPad Pro 9.7-Inch (Wi-Fi)  00:33:43         00:33:43  US (United States)
1  iPad Pro 9.7-Inch (Wi-Fi)  01:10:20         01:10:20  US (United States)
2  iPad Pro 9.7-Inch (Wi-Fi)  01:01:01  Not latest view  US (United States)
3  iPad Pro 9.7-Inch (Wi-Fi)  00:44:37  Not latest view  US (United States)
4  iPad Pro 9.7-Inch (Wi-Fi)  00:02:53  Not latest view  US (United States)

In [92]:
# Drop columns that aren't needed
ashley_netflix = df.drop(columns=["Attributes", "Supplemental Video Type", "Bookmark", "Latest Bookmark", "Country", "Device Type"], axis=1)

# View updated df
ashley_netflix.head()

,Profile Name,Start Time,Duration,Title
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...

In [93]:
ashley_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6719 entries, 0 to 6718
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Profile Name  6719 non-null   object
 1   Start Time    6719 non-null   object
 2   Duration      6719 non-null   object
 3   Title         6719 non-null   object
dtypes: object(4)
memory usage: 262.5+ KB

In [94]:
ashley_netflix.describe()

       Profile Name           Start Time  Duration                      Title
count          6719                 6719      6719                       6719
unique            1                 6707      2861                       4268
top          Ashley  2011-09-04 02:28:11  00:00:01  Them Idiots! Whirled Tour
freq           6719                    2        61                         49

In [95]:
ashley_netflix.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Title'], dtype='object')

In [96]:
# Things I've tried
ashley_top_titles = ashley_netflix.drop(ashley_netflix.Title==["Them Idiots! Whirled Tour"], axis=0)

ValueError: ('Lengths must match to compare', (6719,), (1,))

In [ ]:
# Things I've tried

ashley_index = ashley_netflix.set_index("Title")

ashley_index = ashley_index.drop("Them Idiots! Whirled Tour")

print(ashley_index.head())

                                                   Profile Name  \
Title
The Munsters                                             Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley

                                                             Start Time  \
Title
The Munsters                                        2022-10-03 03:07:28
Stranger Things: Stranger Things 4: Chapter Six...  2022-10-03 02:57:22
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-18 02:42:20
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-12 02:04:54
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-11 03:37:02

                                                    Duration  \
Title
The Munsters                                        00:33:42
Stranger Things: Stranger Things 4: Chapter Six...  00:09:19
Stranger Things: Stranger Things 4: Chapter Six...  00:16:13
Stranger Things: Stranger Things 4: Chapter Six...  00:41:43
Stranger Things: Stranger Things 4: Chapter Six...  00:02:44

                                                                  Device Type
Title
The Munsters                                        iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Things I've tried
ashley_new_index = ashley_netflix.drop(ashley_netflix.Title, )

In [ ]:
ashley_top_titles = ashley_netflix.Title.value_counts()

print(ashley_top_titles)

Them Idiots! Whirled Tour                           49
NullCompleteVideo                                   43
Larry the Cable Guy: Tailgate Party                 33
Sherlock: Series 1: A Study in Pink (Episode 1)     28
Sherlock: Series 1: The Blind Banker (Episode 2)    19
                                                    ..
Master of None: Season 1: Hot Ticket (Episode 3)     1
Master of None: Season 1: Parents (Episode 2)        1
Broadchurch: Season 2: Episode 6                     1
Broadchurch: Season 2: Episode 5                     1
One Night with the King                              1
Name: Title, Length: 4268, dtype: int64

In [ ]:
show_to_remove = ashley_netflix.Title.value_counts().index.tolist()[0]

print(show_to_remove)

Them Idiots! Whirled Tour

In [ ]:
them_idiots = ashley_netflix[ashley_netflix.Title == show_to_remove[0]]

print(them_idiots)

Empty DataFrame
Columns: [Profile Name, Start Time, Duration, Title, Device Type]
Index: []

In [ ]:
type(show_to_remove)

str

In [ ]:
ashley_top_titles.iloc[:1]

Them Idiots! Whirled Tour    49
Name: Title, dtype: int64

In [ ]:
ashley_netflix.iloc[[0:5],[0:5]]

SyntaxError: invalid syntax (1721458047.py, line 1)

In [ ]:
ashley_netflix.iloc[:5]

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)

In [98]:
# Merge datasets

ashley_imdb = pd.merge(ashley_netflix, titles, how="right", on="Title")

ashley_imdb

,Profile Name,Start Time,Duration,Title,Id,Type,Release Year,Age Certification,Runtime,Genres,Imdb Score
0,NaN,NaN,NaN,Five Came Back: The Reference Films,ts300399,SHOW,1945,TV-MA,51,['documentation'],NaN
1,NaN,NaN,NaN,Taxi Driver,tm84618,MOVIE,1976,R,114,"['drama', 'crime']",8.2
2,NaN,NaN,NaN,Deliverance,tm154986,MOVIE,1972,R,109,"['drama', 'action', 'thriller', 'european']",7.7
3,NaN,NaN,NaN,Monty Python and the Holy Grail,tm127384,MOVIE,1975,PG,91,"['fantasy', 'action', 'comedy']",8.2
4,NaN,NaN,NaN,The Dirty Dozen,tm120801,MOVIE,1967,NaN,150,"['war', 'action']",7.7
...,...,...,...,...,...,...,...,...,...,...,...
5865,NaN,NaN,NaN,Fine Wine,tm1014599,MOVIE,2021,NaN,100,"['romance', 'drama']",6.8
5866,NaN,NaN,NaN,C/O Kaadhal,tm898842,MOVIE,2021,NaN,134,['drama'],7.7
5867,NaN,NaN,NaN,Lokillo,tm1059008,MOVIE,2021,NaN,90,['comedy'],3.8
5868,NaN,NaN,NaN,Dad Stop Embarrassing Me - The Afterparty,tm1035612,MOVIE,2021,PG-13,37,[],NaN
5869,NaN,NaN,NaN,Mighty Little Bheem: Kite Festival,ts271048,SHOW,2021,NaN,7,"['family', 'animation', 'comedy']",7.8