## Netflix Viewing Habits

In [326]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from functools import reduce

In [327]:
# Read CSV files in
hulu = pd.read_csv("data/HuluViewingHistoryUpdated.csv")
netflix = pd.read_csv("data/AshleyViewingActivity.csv")
prime_video = pd.read_csv("data/DigitalPrimeVideoViewinghistory.csv")
streaming_services = pd.read_csv("data/tv_shows.csv")
titles = pd.read_csv("data/titles.csv")

In [328]:
titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [329]:
# Fix the column names in the dataframe
fixed_columns = {
    "title":"Title"
}

# Check column names are displaying correctly
titles.rename(columns=fixed_columns, inplace=True)
titles.head()

,id,Title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [330]:
hulu.head()

,Episode Name,Series Name,Season,Last Played At,Unnamed: 4
0,I Know Who Did It,Only Murders in the Building,2.0,30 Oct 2022 22:18:54,NaN
1,Sparring Partners,Only Murders in the Building,2.0,30 Oct 2022 21:39:48,NaN
2,"Hello, Darkness",Only Murders in the Building,2.0,30 Oct 2022 21:03:54,NaN
3,Flipping the Pieces,Only Murders in the Building,2.0,30 Oct 2022 05:48:28,NaN
4,Performance Review,Only Murders in the Building,2.0,30 Oct 2022 05:12:27,NaN

In [331]:
# Drop columns that aren't needed
hulu = hulu.drop(columns=["Unnamed: 4"], axis=1)

# View updated df
hulu.head()

,Episode Name,Series Name,Season,Last Played At
0,I Know Who Did It,Only Murders in the Building,2.0,30 Oct 2022 22:18:54
1,Sparring Partners,Only Murders in the Building,2.0,30 Oct 2022 21:39:48
2,"Hello, Darkness",Only Murders in the Building,2.0,30 Oct 2022 21:03:54
3,Flipping the Pieces,Only Murders in the Building,2.0,30 Oct 2022 05:48:28
4,Performance Review,Only Murders in the Building,2.0,30 Oct 2022 05:12:27

In [332]:
hulu["Streaming Service"] = "Hulu"

hulu.head()

,Episode Name,Series Name,Season,Last Played At,Streaming Service
0,I Know Who Did It,Only Murders in the Building,2.0,30 Oct 2022 22:18:54,Hulu
1,Sparring Partners,Only Murders in the Building,2.0,30 Oct 2022 21:39:48,Hulu
2,"Hello, Darkness",Only Murders in the Building,2.0,30 Oct 2022 21:03:54,Hulu
3,Flipping the Pieces,Only Murders in the Building,2.0,30 Oct 2022 05:48:28,Hulu
4,Performance Review,Only Murders in the Building,2.0,30 Oct 2022 05:12:27,Hulu

In [333]:
# Fix the column names in the dataframe
fixed_columns = {
    "Series Name":"Title"
}

# Check column names are displaying correctly
hulu.rename(columns=fixed_columns, inplace=True)
hulu.head()

,Episode Name,Title,Season,Last Played At,Streaming Service
0,I Know Who Did It,Only Murders in the Building,2.0,30 Oct 2022 22:18:54,Hulu
1,Sparring Partners,Only Murders in the Building,2.0,30 Oct 2022 21:39:48,Hulu
2,"Hello, Darkness",Only Murders in the Building,2.0,30 Oct 2022 21:03:54,Hulu
3,Flipping the Pieces,Only Murders in the Building,2.0,30 Oct 2022 05:48:28,Hulu
4,Performance Review,Only Murders in the Building,2.0,30 Oct 2022 05:12:27,Hulu

In [366]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Episode Name       427 non-null    object
 1   Title              395 non-null    object
 2   Season             394 non-null    float64
 3   Last Played At     367 non-null    object
 4   Streaming Service  427 non-null    object
dtypes: float64(1), object(4)
memory usage: 16.8+ KB

In [334]:
netflix.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Ashley,2022-10-03 03:07:28,00:33:42,NaN,The Munsters,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:33:43,00:33:43,US (United States)
1,Ashley,2022-10-03 02:57:22,00:09:19,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:10:20,01:10:20,US (United States)
2,Ashley,2022-09-18 02:42:20,00:16:13,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:01:01,Not latest view,US (United States)
3,Ashley,2022-09-12 02:04:54,00:41:43,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:44:37,Not latest view,US (United States)
4,Ashley,2022-09-11 03:37:02,00:02:44,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:02:53,Not latest view,US (United States)

In [335]:
ashley_netflix = netflix[netflix["Profile Name"] == "Ashley"]

ashley_netflix.tail()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
6714,Ashley,2009-05-25 01:02:08,04:24:52,NaN,Enemy of the State,NaN,NaN,02:12:26,02:12:26,US (United States)
6715,Ashley,2009-04-06 23:52:07,07:25:52,NaN,Ratatouille,NaN,NaN,01:51:28,01:51:28,US (United States)
6716,Ashley,2009-03-02 17:33:29,02:25:50,NaN,GoodFellas,NaN,NaN,02:25:25,02:25:25,US (United States)
6717,Ashley,2009-03-01 04:29:39,01:21:15,NaN,1996 NCAA Division I: Men's Basketball Nationa...,NaN,NaN,01:20:02,01:20:02,US (United States)
6718,Ashley,2008-11-01 01:51:50,02:13:15,NaN,One Night with the King,NaN,NaN,01:55:45,01:55:45,US (United States)

In [336]:
ashley_netflix.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Attributes', 'Title',
       'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark',
       'Country'],
      dtype='object')

In [337]:
# Drop columns that aren't needed
ashley_netflix = ashley_netflix.drop(columns=["Profile Name", "Attributes", "Supplemental Video Type", "Bookmark", "Latest Bookmark", "Country", "Device Type"], axis=1)

# View updated df
ashley_netflix.head()

,Start Time,Duration,Title
0,2022-10-03 03:07:28,00:33:42,The Munsters
1,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...
2,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...
3,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...
4,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...

In [338]:
ashley_netflix["Streaming Service"] = "Netflix"

ashley_netflix.head()

,Start Time,Duration,Title,Streaming Service
0,2022-10-03 03:07:28,00:33:42,The Munsters,Netflix
1,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
2,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
3,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
4,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,Netflix

In [339]:
prime_video.head()

,Playback Hour,Operating System,Browser,Delivery Type,City,Country,ISP,State,Content Quality Entitled,Entitlement Type,Video Type,Audio Language,Title,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,05/30/2011 22:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,I'll Let You Know When I Get There-The Killing...,NaN,NaN,NaN
1,05/30/2011 22:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,I'll Let You Know When I Get There-The Killing...,NaN,NaN,NaN
2,06/07/2011 1:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,Pilot-The Killing Season 1,NaN,NaN,NaN
3,06/07/2011 1:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,Missing-The Killing Season 1,NaN,NaN,NaN
4,06/17/2011 23:00:00,Windows 7,Firefox/3 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,Beau Soleil-The Killing Season 1,NaN,NaN,NaN

In [340]:
prime_video.columns

Index(['Playback Hour', 'Operating System', 'Browser', 'Delivery Type', 'City',
       'Country', 'ISP', 'State', 'Content Quality Entitled',
       'Entitlement Type', 'Video Type', 'Audio Language', 'Title',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [341]:
# Drop columns that aren't needed
prime_video = prime_video.drop(columns=["Operating System", "Browser", "Delivery Type", "Country", "Country", "Content Quality Entitled", "Entitlement Type", "Video Type", "Audio Language", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15"], axis=1)

# View updated df
prime_video.head()

,Playback Hour,City,ISP,State,Title
0,05/30/2011 22:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,I'll Let You Know When I Get There-The Killing...
1,05/30/2011 22:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,I'll Let You Know When I Get There-The Killing...
2,06/07/2011 1:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Pilot-The Killing Season 1
3,06/07/2011 1:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Missing-The Killing Season 1
4,06/17/2011 23:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Beau Soleil-The Killing Season 1

In [342]:
prime_video["Streaming Service"] = "Prime Video"

prime_video.head()

,Playback Hour,City,ISP,State,Title,Streaming Service
0,05/30/2011 22:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,I'll Let You Know When I Get There-The Killing...,Prime Video
1,05/30/2011 22:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,I'll Let You Know When I Get There-The Killing...,Prime Video
2,06/07/2011 1:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Pilot-The Killing Season 1,Prime Video
3,06/07/2011 1:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Missing-The Killing Season 1,Prime Video
4,06/17/2011 23:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Beau Soleil-The Killing Season 1,Prime Video

In [343]:
streaming_services.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [344]:
# Drop columns that aren't needed
streaming_services = streaming_services.drop(columns=["Unnamed: 0", "ID", "Netflix", "Hulu", "Prime Video", "Disney+"], axis=1)

# View updated df
streaming_services.head()

              Title  Year  Age    IMDb Rotten Tomatoes  Type
0      Breaking Bad  2008  18+  9.4/10         100/100     1
1   Stranger Things  2016  16+  8.7/10          96/100     1
2   Attack on Titan  2013  18+  9.0/10          95/100     1
3  Better Call Saul  2015  18+  8.8/10          94/100     1
4              Dark  2017  16+  8.8/10          93/100     1

In [375]:
netflix_tv = pd.merge(pd.merge(netflix, streaming_services, how="inner", on="Title"), titles, on="Title")

netflix_tv.head()

,Episode Name,Title,Season,Last Played At,Streaming Service,id_x,type_x,description_x,release_year_x,age_certification_x,...,age_certification_y,runtime_y,genres_y,production_countries_y,seasons_y,imdb_id_y,imdb_score_y,imdb_votes_y,tmdb_popularity_y,tmdb_score_y
0,Put It to the Test,Grey's Anatomy,18.0,23 Apr 2022 11:51:33,Hulu,ts21469,SHOW,Follows the personal and professional lives of...,2005,TV-14,...,TV-14,49,"['drama', 'romance']",['US'],19.0,tt0413573,7.6,299165.0,803.786,8.252
1,Road Trippin',Grey's Anatomy,18.0,14 Apr 2022 02:19:13,Hulu,ts21469,SHOW,Follows the personal and professional lives of...,2005,TV-14,...,TV-14,49,"['drama', 'romance']",['US'],19.0,tt0413573,7.6,299165.0,803.786,8.252
2,Put the Squeeze on Me,Grey's Anatomy,18.0,01 Apr 2022 02:22:39,Hulu,ts21469,SHOW,Follows the personal and professional lives of...,2005,TV-14,...,TV-14,49,"['drama', 'romance']",['US'],19.0,tt0413573,7.6,299165.0,803.786,8.252
3,The Makings of You,Grey's Anatomy,18.0,30 Mar 2022 20:20:54,Hulu,ts21469,SHOW,Follows the personal and professional lives of...,2005,TV-14,...,TV-14,49,"['drama', 'romance']",['US'],19.0,tt0413573,7.6,299165.0,803.786,8.252
4,Legacy,Grey's Anatomy,18.0,12 Mar 2022 03:41:38,Hulu,ts21469,SHOW,Follows the personal and professional lives of...,2005,TV-14,...,TV-14,49,"['drama', 'romance']",['US'],19.0,tt0413573,7.6,299165.0,803.786,8.252

In [376]:
netflix_tv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Episode Name            18 non-null     object
 1   Title                   18 non-null     object
 2   Season                  18 non-null     float64
 3   Last Played At          11 non-null     object
 4   Streaming Service       18 non-null     object
 5   id_x                    18 non-null     object
 6   type_x                  18 non-null     object
 7   description_x           18 non-null     object
 8   release_year_x          18 non-null     int64
 9   age_certification_x     18 non-null     object
 10  runtime_x               18 non-null     int64
 11  genres_x                18 non-null     object
 12  production_countries_x  18 non-null     object
 13  seasons_x               18 non-null     float64
 14  imdb_id_x               18 non-null     object
 15  imdb_score_x            18 non-null     float64
 16  imdb_votes_x            18 non-null     float64
 17  tmdb_popularity_x       18 non-null     float64
 18  tmdb_score_x            18 non-null     float64
 19  Year                    18 non-null     int64
 20  Age                     11 non-null     object
 21  IMDb                    18 non-null     object
 22  Rotten Tomatoes         18 non-null     object
 23  Type                    18 non-null     int64
 24  id_y                    18 non-null     object
 25  type_y                  18 non-null     object
 26  description_y           18 non-null     object
 27  release_year_y          18 non-null     int64
 28  age_certification_y     18 non-null     object
 29  runtime_y               18 non-null     int64
 30  genres_y                18 non-null     object
 31  production_countries_y  18 non-null     object
 32  seasons_y               18 non-null     float64
 33  imdb_id_y               18 non-null     object
 34  imdb_score_y            18 non-null     float64
 35  imdb_votes_y            18 non-null     float64
 36  tmdb_popularity_y       18 non-null     float64
 37  tmdb_score_y            18 non-null     float64
dtypes: float64(11), int64(6), object(21)
memory usage: 5.5+ KB

In [347]:
hulu_streaming = pd.merge(hulu, streaming_services, how="inner", on="Title")

hulu_streaming.head()

,Episode Name,Title,Season,Last Played At,Streaming Service,Year,Age,IMDb,Rotten Tomatoes,Type
0,Morning,The Handmaid's Tale,5.0,25 Oct 2022 19:09:39,Hulu,2017,18+,8.4/10,90/100,1
1,The Wilderness,The Handmaid's Tale,4.0,17 Nov 2021 03:10:47,Hulu,2017,18+,8.4/10,90/100,1
2,DTLA,Good Trouble,1.0,20 Sep 2022 21:28:56,Hulu,2019,16+,7.5/10,67/100,1
3,Pilot,Home Economics,1.0,15 Apr 2022 06:49:11,Hulu,2021,7+,6.2/10,62/100,1
4,"Speeding Ticket, $180",Home Economics,2.0,24 Sep 2022 15:33:23,Hulu,2021,7+,6.2/10,62/100,1

In [348]:
netflix_streaming = pd.merge(ashley_netflix, streaming_services, how="inner", on="Title")

netflix_streaming.head()

,Start Time,Duration,Title,Streaming Service,Year,Age,IMDb,Rotten Tomatoes,Type
0,2020-10-18 02:04:18,00:47:41,Sleepy Hollow,Netflix,2013,16+,7.4/10,75/100,1
1,2020-10-15 02:49:39,00:48:11,Sleepy Hollow,Netflix,2013,16+,7.4/10,75/100,1
2,2020-10-15 02:15:51,00:00:08,Sleepy Hollow,Netflix,2013,16+,7.4/10,75/100,1
3,2020-10-15 00:19:47,00:03:55,Sleepy Hollow,Netflix,2013,16+,7.4/10,75/100,1
4,2017-10-02 05:35:34,00:40:31,Sleepy Hollow,Netflix,2013,16+,7.4/10,75/100,1

In [349]:
prime_streaming = pd.merge(prime_video, streaming_services, how="inner", on="Title")

prime_streaming.head()

,Playback Hour,City,ISP,State,Title,Streaming Service,Year,Age,IMDb,Rotten Tomatoes,Type
0,10/27/2012 21:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Dark Shadows,Prime Video,1966,7+,7.5/10,62/100,1
1,11/04/2012 3:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Dark Shadows,Prime Video,1966,7+,7.5/10,62/100,1
2,11/04/2012 3:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Dark Shadows,Prime Video,1966,7+,7.5/10,62/100,1
3,11/04/2012 4:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Dark Shadows,Prime Video,1966,7+,7.5/10,62/100,1
4,11/05/2012 0:00:00,cincinnati,Cincinnati_Bell_Telephone,oh,Dark Shadows,Prime Video,1966,7+,7.5/10,62/100,1

In [350]:
# Merge datasets
tv_movies = pd.merge(pd.merge(pd.merge(hulu, prime_video, how="inner", on="Title"), ashley_netflix, on="Title"), streaming_services, on="Title")

tv_movies.head(-5)

Empty DataFrame
Columns: [Episode Name, Season, Last Played At, Streaming Service_x, Playback Hour, City, ISP, State, Streaming Service_y, Start Time, Duration, Streaming Service, Title, Year, Age, IMDb, Rotten Tomatoes, Type]
Index: []

In [351]:
tv_movies.describe()

       Season  Year  Type
count     0.0   0.0   0.0
mean      NaN   NaN   NaN
std       NaN   NaN   NaN
min       NaN   NaN   NaN
25%       NaN   NaN   NaN
50%       NaN   NaN   NaN
75%       NaN   NaN   NaN
max       NaN   NaN   NaN

In [352]:
ashley_netflix.describe()

,Start Time,Duration,Title,Streaming Service
count,6719,6719,6719,6719
unique,6707,2861,4268,1
top,2011-09-04 02:28:11,00:00:01,Them Idiots! Whirled Tour,Netflix
freq,2,61,49,6719

In [353]:
ashley_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6719 entries, 0 to 6718
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Start Time         6719 non-null   object
 1   Duration           6719 non-null   object
 2   Title              6719 non-null   object
 3   Streaming Service  6719 non-null   object
dtypes: object(4)
memory usage: 262.5+ KB

In [354]:
# Things I've tried
ashley_top_titles = ashley_netflix.drop(ashley_netflix.Title==["Them Idiots! Whirled Tour"], axis=0)

ValueError: ('Lengths must match to compare', (6719,), (1,))

In [ ]:
# Things I've tried

ashley_index = ashley_netflix.set_index("Title")

ashley_index = ashley_index.drop("Them Idiots! Whirled Tour")

print(ashley_index.head())

                                                   Profile Name  \
Title
The Munsters                                             Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley

                                                             Start Time  \
Title
The Munsters                                        2022-10-03 03:07:28
Stranger Things: Stranger Things 4: Chapter Six...  2022-10-03 02:57:22
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-18 02:42:20
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-12 02:04:54
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-11 03:37:02

                                                    Duration  \
Title
The Munsters                                        00:33:42
Stranger Things: Stranger Things 4: Chapter Six...  00:09:19
Stranger Things: Stranger Things 4: Chapter Six...  00:16:13
Stranger Things: Stranger Things 4: Chapter Six...  00:41:43
Stranger Things: Stranger Things 4: Chapter Six...  00:02:44

                                                                  Device Type
Title
The Munsters                                        iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Things I've tried
ashley_new_index = ashley_netflix.drop(ashley_netflix.Title, )

In [ ]:
ashley_top_titles = ashley_netflix.Title.value_counts()

print(ashley_top_titles)

Them Idiots! Whirled Tour                           49
NullCompleteVideo                                   43
Larry the Cable Guy: Tailgate Party                 33
Sherlock: Series 1: A Study in Pink (Episode 1)     28
Sherlock: Series 1: The Blind Banker (Episode 2)    19
                                                    ..
Master of None: Season 1: Hot Ticket (Episode 3)     1
Master of None: Season 1: Parents (Episode 2)        1
Broadchurch: Season 2: Episode 6                     1
Broadchurch: Season 2: Episode 5                     1
One Night with the King                              1
Name: Title, Length: 4268, dtype: int64

In [ ]:
show_to_remove = ashley_netflix.Title.value_counts().index.tolist()[0]

print(show_to_remove)

Them Idiots! Whirled Tour

In [ ]:
them_idiots = ashley_netflix[ashley_netflix.Title == show_to_remove[0]]

print(them_idiots)

Empty DataFrame
Columns: [Profile Name, Start Time, Duration, Title, Device Type]
Index: []

In [ ]:
type(show_to_remove)

str

In [ ]:
ashley_top_titles.iloc[:1]

Them Idiots! Whirled Tour    49
Name: Title, dtype: int64

In [ ]:
ashley_netflix.iloc[[0:5],[0:5]]

SyntaxError: invalid syntax (1721458047.py, line 1)

In [ ]:
ashley_netflix.iloc[:5]

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Merge datasets

ashley_imdb = pd.merge(ashley_netflix, imdb, how="outer", on="Title")

ashley_imdb.head(10)

KeyError: 'Title'