## Netflix Viewing Habits

In [53]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from pandas_profiling import ProfileReport

In [54]:
# Read CSV file
books = pd.read_csv("data/book_catalog.csv")

In [55]:
goodreads = pd.read_csv("data/goodreads.csv")

In [56]:
books.head()

,Name,Author,Cover Photo,Purchased,Type,Personal Notes,Date Finished,Year
0,Final Girls,Riley Sager,2020-01-08 13.22.17.jpg (https://dl.airtable.c...,No,Ebook,NaN,"January 8, 2020",2020
1,The Silent Patient,Alex Michaelides,2020-01-08 14.23.10.jpg (https://dl.airtable.c...,Amazon Kindle,Ebook,NaN,"January 3, 2020",2020
2,The Case of the Missing Marques: An Enola Holm...,Nancy Springer,NaN,No,Ebook,NaN,"January 25, 2020",2020
3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,NaN,Audible,Audiobook,NaN,"April 28, 2020",2020
4,Little Fires Everywhere,Celeste NG,NaN,No,Audiobook,NaN,"April 5, 2020",2020

In [57]:
# Drop columns that aren't needed
books = books.drop(columns=["Cover Photo", "Personal Notes"], axis=1)

# View updated df
books.head()

,Name,Author,Purchased,Type,Date Finished,Year
0,Final Girls,Riley Sager,No,Ebook,"January 8, 2020",2020
1,The Silent Patient,Alex Michaelides,Amazon Kindle,Ebook,"January 3, 2020",2020
2,The Case of the Missing Marques: An Enola Holm...,Nancy Springer,No,Ebook,"January 25, 2020",2020
3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,Audible,Audiobook,"April 28, 2020",2020
4,Little Fires Everywhere,Celeste NG,No,Audiobook,"April 5, 2020",2020

In [58]:
# Fix the column names in the dataframe
fixed_columns = {
    "Name":"Title", 
}

# Check column names are displaying correctly
books.rename(columns=fixed_columns, inplace=True)
books.head()

,Title,Author,Purchased,Type,Date Finished,Year
0,Final Girls,Riley Sager,No,Ebook,"January 8, 2020",2020
1,The Silent Patient,Alex Michaelides,Amazon Kindle,Ebook,"January 3, 2020",2020
2,The Case of the Missing Marques: An Enola Holm...,Nancy Springer,No,Ebook,"January 25, 2020",2020
3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,Audible,Audiobook,"April 28, 2020",2020
4,Little Fires Everywhere,Celeste NG,No,Audiobook,"April 5, 2020",2020

In [69]:
top_authors = books.Author.value_counts()

top_authors.head()

Jacqueline Winspear     17
Nancy Springer           8
Sherry Thomas            6
Brittany Cavallaro       4
Maureen Johnson          4
Name: Author, dtype: int64

In [59]:
goodreads.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,439785960,9.78044E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,439358078,9.78044E+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78044E+12,eng,352,6333,244,11/1/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,043965548X,9.78044E+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.78044E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN

In [60]:
# Drop columns that aren't needed
goodreads = goodreads.drop(columns=["bookID", "isbn", "isbn13", "language_code", "ratings_count", "text_reviews_count", "Unnamed: 12"], axis=1)

# View updated df
goodreads.head()

,title,authors,average_rating,num_pages,publication_date,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,652,9/16/2006,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,870,9/1/2004,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,352,11/1/2003,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,435,5/1/2004,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,2690,9/13/2004,Scholastic

In [61]:
# Fix the column names in the dataframe
fixed_columns = {
    "title":"Title", 
    "authors":"Author",
    "average_rating":"Average Rating",
    "num_pages":"Pages",
    "publication_date":"Publication Date",
    "publisher":"Publisher"
}

# Check column names are displaying correctly
goodreads.rename(columns=fixed_columns, inplace=True)
goodreads.head()

,Title,Author,Average Rating,num_pages,Publication Date,Publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,652,9/16/2006,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,870,9/1/2004,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,352,11/1/2003,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,435,5/1/2004,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,2690,9/13/2004,Scholastic

In [73]:
# Merge datasets
book_ratings = pd.merge(books, goodreads, how="left", on="Title")

book_ratings.head()

,Title,Author_x,Purchased,Type,Date Finished,Year,Author_y,Average Rating,num_pages,Publication Date,Publisher
0,Final Girls,Riley Sager,No,Ebook,"January 8, 2020",2020,NaN,NaN,NaN,NaN,NaN
1,The Silent Patient,Alex Michaelides,Amazon Kindle,Ebook,"January 3, 2020",2020,NaN,NaN,NaN,NaN,NaN
2,The Case of the Missing Marques: An Enola Holm...,Nancy Springer,No,Ebook,"January 25, 2020",2020,NaN,NaN,NaN,NaN,NaN
3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,Audible,Audiobook,"April 28, 2020",2020,NaN,NaN,NaN,NaN,NaN
4,Little Fires Everywhere,Celeste NG,No,Audiobook,"April 5, 2020",2020,NaN,NaN,NaN,NaN,NaN

In [62]:
df = df[df["Profile Name"] == "Ashley"]

print(df.head())

  Profile Name           Start Time  Duration Attributes  \
0       Ashley  2022-10-03 03:07:28  00:33:42        NaN
1       Ashley  2022-10-03 02:57:22  00:09:19        NaN
2       Ashley  2022-09-18 02:42:20  00:16:13        NaN
3       Ashley  2022-09-12 02:04:54  00:41:43        NaN
4       Ashley  2022-09-11 03:37:02  00:02:44        NaN

                                               Title Supplemental Video Type  \
0                                       The Munsters                     NaN
1  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
2  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
3  Stranger Things: Stranger Things 4: Chapter Si...                     NaN
4  Stranger Things: Stranger Things 4: Chapter Si...                     NaN

                 Device Type  Bookmark  Latest Bookmark             Country
0  iPad Pro 9.7-Inch (Wi-Fi)  00:33:43         00:33:43  US (United States)
1  iPad Pro 9.7-Inch (Wi-Fi)  01:10:20         01:10:20  US (United States)
2  iPad Pro 9.7-Inch (Wi-Fi)  01:01:01  Not latest view  US (United States)
3  iPad Pro 9.7-Inch (Wi-Fi)  00:44:37  Not latest view  US (United States)
4  iPad Pro 9.7-Inch (Wi-Fi)  00:02:53  Not latest view  US (United States)

In [63]:
# Drop columns that aren't needed
ashley_netflix = df.drop(columns=["Attributes", "Supplemental Video Type", "Bookmark", "Latest Bookmark", "Country", "Device Type"], axis=1)

# View updated df
ashley_netflix.head()

,Profile Name,Start Time,Duration,Title
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...

In [64]:
ashley_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6719 entries, 0 to 6718
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Profile Name  6719 non-null   object
 1   Start Time    6719 non-null   object
 2   Duration      6719 non-null   object
 3   Title         6719 non-null   object
dtypes: object(4)
memory usage: 262.5+ KB

In [65]:
ashley_netflix.describe()

       Profile Name           Start Time  Duration                      Title
count          6719                 6719      6719                       6719
unique            1                 6707      2861                       4268
top          Ashley  2011-09-04 02:28:11  00:00:01  Them Idiots! Whirled Tour
freq           6719                    2        61                         49

In [66]:
ashley_netflix.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Title'], dtype='object')

In [67]:
# Things I've tried
ashley_top_titles = ashley_netflix.drop(ashley_netflix.Title==["Them Idiots! Whirled Tour"], axis=0)

ValueError: ('Lengths must match to compare', (6719,), (1,))

In [ ]:
# Things I've tried

ashley_index = ashley_netflix.set_index("Title")

ashley_index = ashley_index.drop("Them Idiots! Whirled Tour")

print(ashley_index.head())

                                                   Profile Name  \
Title
The Munsters                                             Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley

                                                             Start Time  \
Title
The Munsters                                        2022-10-03 03:07:28
Stranger Things: Stranger Things 4: Chapter Six...  2022-10-03 02:57:22
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-18 02:42:20
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-12 02:04:54
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-11 03:37:02

                                                    Duration  \
Title
The Munsters                                        00:33:42
Stranger Things: Stranger Things 4: Chapter Six...  00:09:19
Stranger Things: Stranger Things 4: Chapter Six...  00:16:13
Stranger Things: Stranger Things 4: Chapter Six...  00:41:43
Stranger Things: Stranger Things 4: Chapter Six...  00:02:44

                                                                  Device Type
Title
The Munsters                                        iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Things I've tried
ashley_new_index = ashley_netflix.drop(ashley_netflix.Title, )

In [ ]:
ashley_top_titles = ashley_netflix.Title.value_counts()

print(ashley_top_titles)

Them Idiots! Whirled Tour                           49
NullCompleteVideo                                   43
Larry the Cable Guy: Tailgate Party                 33
Sherlock: Series 1: A Study in Pink (Episode 1)     28
Sherlock: Series 1: The Blind Banker (Episode 2)    19
                                                    ..
Master of None: Season 1: Hot Ticket (Episode 3)     1
Master of None: Season 1: Parents (Episode 2)        1
Broadchurch: Season 2: Episode 6                     1
Broadchurch: Season 2: Episode 5                     1
One Night with the King                              1
Name: Title, Length: 4268, dtype: int64

In [ ]:
show_to_remove = ashley_netflix.Title.value_counts().index.tolist()[0]

print(show_to_remove)

Them Idiots! Whirled Tour

In [ ]:
them_idiots = ashley_netflix[ashley_netflix.Title == show_to_remove[0]]

print(them_idiots)

Empty DataFrame
Columns: [Profile Name, Start Time, Duration, Title, Device Type]
Index: []

In [ ]:
type(show_to_remove)

str

In [ ]:
ashley_top_titles.iloc[:1]

Them Idiots! Whirled Tour    49
Name: Title, dtype: int64

In [ ]:
ashley_netflix.iloc[[0:5],[0:5]]

SyntaxError: invalid syntax (1721458047.py, line 1)

In [ ]:
ashley_netflix.iloc[:5]

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Merge datasets

ashley_imdb = pd.merge(ashley_netflix, titles, how="left", on="Title")

ashley_imdb.head(30)

,Profile Name,Start Time,Duration,Title,Id,Type,Release Year,Age Certification,Runtime,Genres,Imdb Score
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ashley,2022-09-11 02:52:10,00:44:50,Stranger Things: Stranger Things 4: Chapter Fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Ashley,2022-09-09 03:18:58,00:26:59,Stranger Things: Stranger Things 4: Chapter Fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Ashley,2022-09-08 01:46:01,00:40:13,Stranger Things: Stranger Things 4: Chapter Fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ashley,2022-09-07 00:16:34,00:34:09,Stranger Things: Stranger Things 4: Chapter Fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Ashley,2022-09-05 01:51:58,00:26:20,Stranger Things: Stranger Things 4: Chapter Th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ashley,2022-09-04 03:12:14,00:33:23,Stranger Things: Stranger Things 4: Chapter Th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ashley,2022-09-04 02:56:33,00:15:37,Stranger Things: Stranger Things 4: Chapter Tw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Ashley,2022-09-03 03:10:04,00:30:57,Stranger Things: Stranger Things 4: Chapter Tw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Ashley,2022-09-02 02:16:23,00:27:46,Stranger Things: Stranger Things 4: Chapter Tw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ashley,2022-09-02 01:52:08,00:24:13,Stranger Things: Stranger Things 4: Chapter On...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Ashley,2022-08-19 21:01:11,00:49:03,Stranger Things: Stranger Things 4: Chapter On...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ashley,2022-08-19 20:57:17,00:03:48,Recap: Stranger Things 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ashley,2022-07-26 02:08:22,01:08:13,Ozark: Season 4: A Hard Way to Go (Episode 14),NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Ashley,2022-07-26 01:21:26,00:46:39,Ozark: Season 4: Mud (Episode 13),NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Ashley,2022-07-25 20:47:41,00:00:01,Ozark: Season 4: Mud (Episode 13),NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ashley,2022-07-24 02:04:08,00:08:03,Ozark: Season 4: Mud (Episode 13),NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Ashley,2022-07-24 01:13:36,00:50:30,Ozark: Season 4: Trouble the Water (Episode 12),NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Ashley,2022-07-24 00:11:38,01:01:57,Ozark: Season 4: Pound of Flesh and Still Kick...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Ashley,2022-07-24 00:05:28,00:00:01,Ozark: Season 4: Pound of Flesh and Still Kick...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Ashley,2022-07-23 23:47:03,00:18:07,Ozark: Season 4: You're the Boss (Episode 10),NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Ashley,2022-07-23 21:12:12,00:41:15,Ozark: Season 4: You're the Boss (Episode 10),NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ashley,2022-07-23 20:09:41,00:58:11,Ozark: Season 4: Pick a God and Pray (Episode 9),NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Ashley,2022-07-23 02:00:41,00:00:01,Ozark: Season 4: Pick a God and Pray (Episode 9),NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Ashley,2022-07-23 01:08:00,00:52:39,Ozark: Season 4: The Cousin of Death (Episode 8),NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ashley,2022-07-23 00:16:02,00:50:45,Ozark: Season 4: Sanctified (Episode 7),NaN,NaN,NaN,NaN,NaN,NaN,NaN