## Streaming Viewing Habits

In [112]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from functools import reduce

from datetime import datetime

In [113]:
# Read CSV files in
hulu = pd.read_csv("data/HuluViewingHistoryUpdated.csv")
netflix = pd.read_csv("data/AshleyViewingActivity.csv")
prime_video = pd.read_csv("data/DigitalPrimeVideoViewinghistory.csv")
streaming_data = pd.read_csv("data/tv_shows.csv")

data_streaming = pd.read_csv("data/titles.csv")

In [114]:
data_streaming.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [115]:
data_streaming.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [116]:
# Drop columns that aren't needed
data_streaming = data_streaming.drop(columns=["id", "type", "description", "production_countries", "seasons", "imdb_id", "imdb_votes", "tmdb_score", "tmdb_popularity"], axis=1)

# View updated df
data_streaming.head()

,title,release_year,age_certification,runtime,genres,imdb_score
0,Five Came Back: The Reference Films,1945,TV-MA,51,['documentation'],NaN
1,Taxi Driver,1976,R,114,"['drama', 'crime']",8.2
2,Deliverance,1972,R,109,"['drama', 'action', 'thriller', 'european']",7.7
3,Monty Python and the Holy Grail,1975,PG,91,"['fantasy', 'action', 'comedy']",8.2
4,The Dirty Dozen,1967,NaN,150,"['war', 'action']",7.7

In [117]:
# Fix the column names in the dataframe
fixed_columns = {
    "title":"Title",
    "release_year":"Release Year",
    "age_certification":"Age Certification",
    "runtime":"Runtime",
    "genres":"Genres",
    "imdb_score":"Imdb Score"
}

# Check column names are displaying correctly
data_streaming.rename(columns=fixed_columns, inplace=True)
data_streaming.head()

,Title,Release Year,Age Certification,Runtime,Genres,Imdb Score
0,Five Came Back: The Reference Films,1945,TV-MA,51,['documentation'],NaN
1,Taxi Driver,1976,R,114,"['drama', 'crime']",8.2
2,Deliverance,1972,R,109,"['drama', 'action', 'thriller', 'european']",7.7
3,Monty Python and the Holy Grail,1975,PG,91,"['fantasy', 'action', 'comedy']",8.2
4,The Dirty Dozen,1967,NaN,150,"['war', 'action']",7.7

In [118]:
hulu.head()

          Episode Name                   Series Name  Season    Last Played At
0    I Know Who Did It  Only Murders in the Building     2.0  10/30/2022 22:18
1    Sparring Partners  Only Murders in the Building     2.0  10/30/2022 21:39
2      Hello, Darkness  Only Murders in the Building     2.0  10/30/2022 21:03
3  Flipping the Pieces  Only Murders in the Building     2.0   10/30/2022 5:48
4   Performance Review  Only Murders in the Building     2.0   10/30/2022 5:12

In [119]:
hulu["Streaming Service"] = "Hulu"

hulu.head()

,Episode Name,Series Name,Season,Last Played At,Streaming Service
0,I Know Who Did It,Only Murders in the Building,2.0,10/30/2022 22:18,Hulu
1,Sparring Partners,Only Murders in the Building,2.0,10/30/2022 21:39,Hulu
2,"Hello, Darkness",Only Murders in the Building,2.0,10/30/2022 21:03,Hulu
3,Flipping the Pieces,Only Murders in the Building,2.0,10/30/2022 5:48,Hulu
4,Performance Review,Only Murders in the Building,2.0,10/30/2022 5:12,Hulu

In [120]:
# Drop columns that aren't needed
hulu = hulu.drop(columns=["Episode Name", "Season"], axis=1)

# View updated df
hulu.head()

                    Series Name    Last Played At Streaming Service
0  Only Murders in the Building  10/30/2022 22:18              Hulu
1  Only Murders in the Building  10/30/2022 21:39              Hulu
2  Only Murders in the Building  10/30/2022 21:03              Hulu
3  Only Murders in the Building   10/30/2022 5:48              Hulu
4  Only Murders in the Building   10/30/2022 5:12              Hulu

In [121]:
# Fix the column names in the dataframe
fixed_columns = {
    "Series Name":"Title",
    "Last Played At":"Date Watched"
}

# Check column names are displaying correctly
hulu.rename(columns=fixed_columns, inplace=True)
hulu.head()

                          Title      Date Watched Streaming Service
0  Only Murders in the Building  10/30/2022 22:18              Hulu
1  Only Murders in the Building  10/30/2022 21:39              Hulu
2  Only Murders in the Building  10/30/2022 21:03              Hulu
3  Only Murders in the Building   10/30/2022 5:48              Hulu
4  Only Murders in the Building   10/30/2022 5:12              Hulu

In [122]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              426 non-null    object
 1   Date Watched       367 non-null    object
 2   Streaming Service  427 non-null    object
dtypes: object(3)
memory usage: 10.1+ KB

In [123]:
netflix.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Ashley,2022-10-03 03:07:28,00:33:42,NaN,The Munsters,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:33:43,00:33:43,US (United States)
1,Ashley,2022-10-03 02:57:22,00:09:19,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:10:20,01:10:20,US (United States)
2,Ashley,2022-09-18 02:42:20,00:16:13,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),01:01:01,Not latest view,US (United States)
3,Ashley,2022-09-12 02:04:54,00:41:43,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:44:37,Not latest view,US (United States)
4,Ashley,2022-09-11 03:37:02,00:02:44,NaN,Stranger Things: Stranger Things 4: Chapter Si...,NaN,iPad Pro 9.7-Inch (Wi-Fi),00:02:53,Not latest view,US (United States)

In [124]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25052 entries, 0 to 25051
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             25052 non-null  object
 1   Start Time               25052 non-null  object
 2   Duration                 25052 non-null  object
 3   Attributes               10066 non-null  object
 4   Title                    25052 non-null  object
 5   Supplemental Video Type  777 non-null    object
 6   Device Type              24874 non-null  object
 7   Bookmark                 25052 non-null  object
 8   Latest Bookmark          25052 non-null  object
 9   Country                  25052 non-null  object
dtypes: object(10)
memory usage: 1.9+ MB

In [125]:
# ashley_netflix = netflix[netflix["Profile Name"] == "Ashley"]

# ashley_netflix.tail()

In [126]:
# ashley_netflix.info()

In [127]:
netflix.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Attributes', 'Title',
       'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark',
       'Country'],
      dtype='object')

In [128]:
# Drop columns that aren't needed
netflix = netflix.drop(columns=["Profile Name", "Attributes", "Duration", "Supplemental Video Type", "Bookmark", "Latest Bookmark", "Country", "Device Type"], axis=1)

# View updated df
netflix.head()

            Start Time                                              Title
0  2022-10-03 03:07:28                                       The Munsters
1  2022-10-03 02:57:22  Stranger Things: Stranger Things 4: Chapter Si...
2  2022-09-18 02:42:20  Stranger Things: Stranger Things 4: Chapter Si...
3  2022-09-12 02:04:54  Stranger Things: Stranger Things 4: Chapter Si...
4  2022-09-11 03:37:02  Stranger Things: Stranger Things 4: Chapter Si...

In [129]:
netflix["Streaming Service"] = "Netflix"

netflix.head()

,Start Time,Title,Streaming Service
0,2022-10-03 03:07:28,The Munsters,Netflix
1,2022-10-03 02:57:22,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
2,2022-09-18 02:42:20,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
3,2022-09-12 02:04:54,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
4,2022-09-11 03:37:02,Stranger Things: Stranger Things 4: Chapter Si...,Netflix

In [130]:
# Fix the column names in the dataframe
fixed_columns = {
    "Start Time":"Date Watched"
}

# Check that column names are displaying correctly
netflix.rename(columns=fixed_columns, inplace=True)
netflix.head()

,Date Watched,Title,Streaming Service
0,2022-10-03 03:07:28,The Munsters,Netflix
1,2022-10-03 02:57:22,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
2,2022-09-18 02:42:20,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
3,2022-09-12 02:04:54,Stranger Things: Stranger Things 4: Chapter Si...,Netflix
4,2022-09-11 03:37:02,Stranger Things: Stranger Things 4: Chapter Si...,Netflix

In [131]:
prime_video.head()

,Playback Hour,Operating System,Browser,Delivery Type,City,Country,ISP,State,Content Quality Entitled,Entitlement Type,Video Type,Audio Language,Title,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,05/30/2011 22:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,I'll Let You Know When I Get There-The Killing...,NaN,NaN,NaN
1,05/30/2011 22:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,I'll Let You Know When I Get There-The Killing...,NaN,NaN,NaN
2,06/07/2011 1:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,Pilot-The Killing Season 1,NaN,NaN,NaN
3,06/07/2011 1:00:00,Windows 7,Firefox/4 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,Missing-The Killing Season 1,NaN,NaN,NaN
4,06/17/2011 23:00:00,Windows 7,Firefox/3 Gecko/2,NaN,cincinnati,us,Cincinnati_Bell_Telephone,oh,NaN,NaN,NaN,NaN,Beau Soleil-The Killing Season 1,NaN,NaN,NaN

In [132]:
prime_video.columns

Index(['Playback Hour', 'Operating System', 'Browser', 'Delivery Type', 'City',
       'Country', 'ISP', 'State', 'Content Quality Entitled',
       'Entitlement Type', 'Video Type', 'Audio Language', 'Title',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [133]:
# Drop columns that aren't needed
prime_video = prime_video.drop(columns=["Operating System", "Browser", "City", "ISP", "State", "Delivery Type", "Country", "Country", "Content Quality Entitled", "Entitlement Type", "Video Type", "Audio Language", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15"], axis=1)

# View updated df
prime_video.head()

         Playback Hour                                              Title
0  05/30/2011 22:00:00  I'll Let You Know When I Get There-The Killing...
1  05/30/2011 22:00:00  I'll Let You Know When I Get There-The Killing...
2   06/07/2011 1:00:00                         Pilot-The Killing Season 1
3   06/07/2011 1:00:00                       Missing-The Killing Season 1
4  06/17/2011 23:00:00                   Beau Soleil-The Killing Season 1

In [134]:
# Fix the column names in the dataframe
fixed_columns = {
    "Playback Hour":"Date Watched"
}

# Check that column names are displaying correctly
prime_video.rename(columns=fixed_columns, inplace=True)
prime_video.head()

          Date Watched                                              Title
0  05/30/2011 22:00:00  I'll Let You Know When I Get There-The Killing...
1  05/30/2011 22:00:00  I'll Let You Know When I Get There-The Killing...
2   06/07/2011 1:00:00                         Pilot-The Killing Season 1
3   06/07/2011 1:00:00                       Missing-The Killing Season 1
4  06/17/2011 23:00:00                   Beau Soleil-The Killing Season 1

In [135]:
prime_video["Streaming Service"] = "Prime Video"

prime_video.head()

,Date Watched,Title,Streaming Service
0,05/30/2011 22:00:00,I'll Let You Know When I Get There-The Killing...,Prime Video
1,05/30/2011 22:00:00,I'll Let You Know When I Get There-The Killing...,Prime Video
2,06/07/2011 1:00:00,Pilot-The Killing Season 1,Prime Video
3,06/07/2011 1:00:00,Missing-The Killing Season 1,Prime Video
4,06/17/2011 23:00:00,Beau Soleil-The Killing Season 1,Prime Video

In [136]:
streaming_data.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [137]:
# Drop columns that aren't needed
streaming_data = streaming_data.drop(columns=["Unnamed: 0", "ID", "Netflix", "Hulu", "Prime Video", "Disney+"], axis=1)

# View updated df
streaming_data.head()

              Title  Year  Age    IMDb Rotten Tomatoes  Type
0      Breaking Bad  2008  18+  9.4/10         100/100     1
1   Stranger Things  2016  16+  8.7/10          96/100     1
2   Attack on Titan  2013  18+  9.0/10          95/100     1
3  Better Call Saul  2015  18+  8.8/10          94/100     1
4              Dark  2017  16+  8.8/10          93/100     1

In [138]:
streaming_list = [hulu, netflix, prime_video]
streaming_combined = pd.concat(streaming_list)

streaming_combined.head(-5)

,Title,Date Watched,Streaming Service
0,Only Murders in the Building,10/30/2022 22:18,Hulu
1,Only Murders in the Building,10/30/2022 21:39,Hulu
2,Only Murders in the Building,10/30/2022 21:03,Hulu
3,Only Murders in the Building,10/30/2022 5:48,Hulu
4,Only Murders in the Building,10/30/2022 5:12,Hulu
...,...,...,...
1860,Link into the VRAINS-Yu-Gi-Oh! VRAINS,10/10/2022 8:00:00,Prime Video
1861,Seize the Wind!-Yu-Gi-Oh! VRAINS,10/10/2022 9:00:00,Prime Video
1862,Contact-Yu-Gi-Oh! VRAINS,10/10/2022 9:00:00,Prime Video
1863,Pain and Gain-Yu-Gi-Oh! VRAINS,10/10/2022 9:00:00,Prime Video
1864,Down for the Count-Yu-Gi-Oh! VRAINS,10/10/2022 10:00:00,Prime Video

In [139]:
data_combined = pd.merge(streaming_combined, data_streaming, how="inner", on="Title")

data_combined

,Title,Date Watched,Streaming Service,Release Year,Age Certification,Runtime,Genres,Imdb Score
0,Dark Shadows,10/19/2022 19:51,Hulu,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2
1,Dark Shadows,10/27/2012 21:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2
2,Dark Shadows,11/04/2012 3:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2
3,Dark Shadows,11/04/2012 3:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2
4,Dark Shadows,11/04/2012 4:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2
...,...,...,...,...,...,...,...,...
549,Limitless,07/23/2011 0:00:00,Prime Video,2017,NaN,59,['documentation'],NaN
550,The Miracle,09/16/2017 3:00:00,Prime Video,2016,TV-14,18,"['drama', 'comedy', 'fantasy', 'music']",6.3
551,Scary Stories to Tell in the Dark,01/03/2020 1:00:00,Prime Video,2019,PG-13,108,"['horror', 'thriller']",6.2
552,Scary Stories to Tell in the Dark,01/03/2020 2:00:00,Prime Video,2019,PG-13,108,"['horror', 'thriller']",6.2
553,Deck the Halls,12/08/2020 17:00:00,Prime Video,2006,PG,93,"['family', 'comedy']",5.0

In [141]:
data_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 0 to 553
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              520 non-null    object
 1   Date Watched       547 non-null    object
 2   Streaming Service  554 non-null    object
 3   Release Year       554 non-null    int64
 4   Age Certification  296 non-null    object
 5   Runtime            554 non-null    int64
 6   Genres             554 non-null    object
 7   Imdb Score         501 non-null    float64
 8   Year               547 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 43.3+ KB

In [142]:
# Convert "Date Watched" column from string to datetime 
data_combined["Date Watched"] = data_combined["Date Watched"].apply(pd.to_datetime)

data_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 0 to 553
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              520 non-null    object
 1   Date Watched       547 non-null    datetime64[ns]
 2   Streaming Service  554 non-null    object
 3   Release Year       554 non-null    int64
 4   Age Certification  296 non-null    object
 5   Runtime            554 non-null    int64
 6   Genres             554 non-null    object
 7   Imdb Score         501 non-null    float64
 8   Year               547 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 43.3+ KB

In [143]:
# Add a new column "Month" that turns the "Date" column into only the month name
data_combined["Month"] = data_combined["Date Watched"]\
    .dt.month_name()

data_combined.head()

,Title,Date Watched,Streaming Service,Release Year,Age Certification,Runtime,Genres,Imdb Score,Year,Month
0,Dark Shadows,2022-10-19 19:51:00,Hulu,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2022.0,October
1,Dark Shadows,2012-10-27 21:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,October
2,Dark Shadows,2012-11-04 03:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,November
3,Dark Shadows,2012-11-04 03:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,November
4,Dark Shadows,2012-11-04 04:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,November

In [144]:
# efficient way to extract year from string format date
data_combined['Year'] = pd.DatetimeIndex(data_combined['Date Watched']).year
data_combined.head()

,Title,Date Watched,Streaming Service,Release Year,Age Certification,Runtime,Genres,Imdb Score,Year,Month
0,Dark Shadows,2022-10-19 19:51:00,Hulu,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2022.0,October
1,Dark Shadows,2012-10-27 21:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,October
2,Dark Shadows,2012-11-04 03:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,November
3,Dark Shadows,2012-11-04 03:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,November
4,Dark Shadows,2012-11-04 04:00:00,Prime Video,2012,PG-13,113,"['comedy', 'fantasy', 'horror']",6.2,2012.0,November

In [145]:
top_services = data_combined[["Streaming Service"]].value_counts()

top_services

Streaming Service
Netflix              490
Prime Video           44
Hulu                  20
dtype: int64

In [150]:
top_titles = data_combined.Title.value_counts()

top_titles.head(10)

Jeff Dunham: Relative Disaster                30
Katt Williams: Great America                  23
Pinkfong & Baby Shark's Space Adventure       13
Grey's Anatomy                                11
Someone Great                                 10
Extremely Wicked, Shockingly Evil and Vile     8
Love Hard                                      8
A Christmas Prince                             8
Yu-Gi-Oh!                                      7
Holidate                                       7
Name: Title, dtype: int64

In [147]:
streaming_data_combined = pd.merge(streaming_combined, streaming_data, how="inner", on="Title")

streaming_data_combined.head()

,Title,Date Watched,Streaming Service,Year,Age,IMDb,Rotten Tomatoes,Type
0,The Handmaid's Tale,10/25/2022 19:09,Hulu,2017,18+,8.4/10,90/100,1
1,The Handmaid's Tale,11/17/2021 3:10,Hulu,2017,18+,8.4/10,90/100,1
2,Dark Shadows,10/19/2022 19:51,Hulu,1966,7+,7.5/10,62/100,1
3,Dark Shadows,10/27/2012 21:00:00,Prime Video,1966,7+,7.5/10,62/100,1
4,Dark Shadows,11/04/2012 3:00:00,Prime Video,1966,7+,7.5/10,62/100,1

In [148]:
streaming_data_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              178 non-null    object
 1   Date Watched       152 non-null    object
 2   Streaming Service  178 non-null    object
 3   Year               178 non-null    int64
 4   Age                167 non-null    object
 5   IMDb               177 non-null    object
 6   Rotten Tomatoes    178 non-null    object
 7   Type               178 non-null    int64
dtypes: int64(2), object(6)
memory usage: 12.5+ KB

In [149]:
# Things I've tried
ashley_top_titles = ashley_netflix.drop(ashley_netflix.Title==["Them Idiots! Whirled Tour"], axis=0)

NameError: name 'ashley_netflix' is not defined

In [ ]:
# Things I've tried

ashley_index = ashley_netflix.set_index("Title")

ashley_index = ashley_index.drop("Them Idiots! Whirled Tour")

print(ashley_index.head())

                                                   Profile Name  \
Title
The Munsters                                             Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley
Stranger Things: Stranger Things 4: Chapter Six...       Ashley

                                                             Start Time  \
Title
The Munsters                                        2022-10-03 03:07:28
Stranger Things: Stranger Things 4: Chapter Six...  2022-10-03 02:57:22
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-18 02:42:20
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-12 02:04:54
Stranger Things: Stranger Things 4: Chapter Six...  2022-09-11 03:37:02

                                                    Duration  \
Title
The Munsters                                        00:33:42
Stranger Things: Stranger Things 4: Chapter Six...  00:09:19
Stranger Things: Stranger Things 4: Chapter Six...  00:16:13
Stranger Things: Stranger Things 4: Chapter Six...  00:41:43
Stranger Things: Stranger Things 4: Chapter Six...  00:02:44

                                                                  Device Type
Title
The Munsters                                        iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)
Stranger Things: Stranger Things 4: Chapter Six...  iPad Pro 9.7-Inch (Wi-Fi)

In [ ]:
# Things I've tried
ashley_new_index = ashley_netflix.drop(ashley_netflix.Title, )

In [ ]:
ashley_top_titles = ashley_netflix.Title.value_counts()

print(ashley_top_titles)

Them Idiots! Whirled Tour                           49
NullCompleteVideo                                   43
Larry the Cable Guy: Tailgate Party                 33
Sherlock: Series 1: A Study in Pink (Episode 1)     28
Sherlock: Series 1: The Blind Banker (Episode 2)    19
                                                    ..
Master of None: Season 1: Hot Ticket (Episode 3)     1
Master of None: Season 1: Parents (Episode 2)        1
Broadchurch: Season 2: Episode 6                     1
Broadchurch: Season 2: Episode 5                     1
One Night with the King                              1
Name: Title, Length: 4268, dtype: int64

In [ ]:
show_to_remove = ashley_netflix.Title.value_counts().index.tolist()[0]

print(show_to_remove)

Them Idiots! Whirled Tour

In [ ]:
them_idiots = ashley_netflix[ashley_netflix.Title == show_to_remove[0]]

print(them_idiots)

Empty DataFrame
Columns: [Profile Name, Start Time, Duration, Title, Device Type]
Index: []

In [ ]:
type(show_to_remove)

str

In [ ]:
ashley_top_titles.iloc[:1]

Them Idiots! Whirled Tour    49
Name: Title, dtype: int64

In [ ]:
ashley_netflix.iloc[[0:5],[0:5]]

SyntaxError: invalid syntax (1721458047.py, line 1)

In [ ]:
ashley_netflix.iloc[:5]

,Profile Name,Start Time,Duration,Title,Device Type
0,Ashley,2022-10-03 03:07:28,00:33:42,The Munsters,iPad Pro 9.7-Inch (Wi-Fi)
1,Ashley,2022-10-03 02:57:22,00:09:19,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
2,Ashley,2022-09-18 02:42:20,00:16:13,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
3,Ashley,2022-09-12 02:04:54,00:41:43,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)
4,Ashley,2022-09-11 03:37:02,00:02:44,Stranger Things: Stranger Things 4: Chapter Si...,iPad Pro 9.7-Inch (Wi-Fi)